@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
  }

body {
    margin: 0;
    height: 100vh;
    font-family: sans-serif; 
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #FEFBF6;
}


header {
    background-color: #1f2937;
    color: #FEFBF6;
    width: 100vw;
    
}

.topheader   {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: 100%; */
    justify-content: space-between;
    margin: auto;

}

.topheader li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

.topheader h4 {
    color: #f9faf8;
    font-size: 1.5rem;
    margin-right: auto;
    margin-top: 0;
    padding: 20px;
}


.hero {
    width: 80%;
    margin: auto;
    padding: 0 0 80px 0;
    display: flex;
    justify-content: justify;
}

.hero-inner {
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.hero-inner img {
    height: 200px;
    width: 450px;
    margin: 39px;
}

.herotext {
    padding: 5px 50px;
}

.herotext h1 {
    font-size: 3rem;
    font-weight: 800;
    color: #f9faf8;
    margin-right: auto;
    text-align: left;

}

.herotext p {
    color: #e5e7eb;
    margin-right: auto;
    font-size: 1.125rem;
}

.herotext div {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 1.125rem;
    display: inline-block;
    padding: 5px 30px;
    border-radius: 10px;
}



main {
    background-color: #1f2937;
    color: #f9faf8;
    width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}



main h1 {
    text-align: center;
}

.cardsbox {
    background-color: #ffffff;
    color: #3D3C42;
    padding-bottom: 50px;

}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 80px;
    padding: 20px 100px;
}

.card {
    flex: 0 1 25%;
}

.cardsbox h1 {
    text-align: center;
    font-size: 2rem;
    padding: 30px 0;
}

.card p{
    font-size: .9rem;
    text-align: center;
    width: 70%;
    margin: auto;
    padding-top: 10px;
}

.card div {
    height: 100px;
    width: 100px;
    border: 3px solid #3882f6;
    margin: auto;
    border-radius: 10%;
}


.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 2.2rem;
    line-height: 40px;;
    font-family: 'Open Sans';
    font-weight: 100;

}

.quote .container {
    width: 80%;
    margin: auto;
    padding: 50px;
}

.quote .thor {
    text-align: right;
    font-size: 15px;
}

.action {
    background-color: #ffffff;
    padding: 50px 85px 50px 50px;

}

.action .container {
    background-color: #3882f6;
    width: 80%;
    margin: auto;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 40px;
}

.action p {
    color: #e5e7eb;
    margin-right: auto;
    font-size: .9rem;
}

.button p {
    border: 2px solid #ffffff;
    font-size: 11px;
    display: inline-block;
    padding: 5px 15px;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 15px;
    text-align: center;
    font-size: .8rem;
}
